allow init adsprpcd_file:filesystem { relabelto relabelfrom mount };
allow init proc:file { open read getattr};
allow init sysfs:file setattr;
allow init vendor_file:file execute_no_trans;
allow init servicemanager:binder { call transfer };
allow init gx_fpd_device:chr_file write;

