allow mm-qcamerad servicemanager:binder call;
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad sensorservice_service:service_manager find;

